{% extends 'base.html' %}
{% block content %}

<h1 class="aboutTitle">Group List</h1>

{% for group in group_list %}
  <a href="{% url 'groups_detail' group.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ group.name }}</span>
            {% if request.user.is_authenticated %}
            <p>Creator: {{ request.user.username }}</p>
            {% else %}
            <p>Please log in to view who created this Group</p>
            {% endif %}
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}