{% extends 'base.html' %}
{% block content %}

<h1 class="myEventsTitle">Group <span class="it">List</span></h1>

{% for group in group_list %}
<a href="{% url 'groups_detail' group.id %}">
  <div class="card">
      <div class="card-content">
          <span class="card-title">{{ group.name }}</span>
          {% if request.user.is_authenticated %}
         <p class="cardDetails">Members: {{ group.members }}</p>
          <p class="cardDetails">Creator: {{ request.user.username }}</p>
          {% else %}
          <p class="cardDetails">Please log in to view who created this Group</p>
          {% endif %}
      </div>
  </div>
</a>
{% endfor %}
<div class="stars">
  <div class="stars1"></div>
  <div class="stars2"></div>
  <div class="stars3"></div>
  <div class="moon"></div>
</div>
{% endblock %}