{% extends 'base.html' %}

{% block content %}

<div class="row borderStyle">
    <h1 class="myEventsTitle">Cast Your <span class="it">Vote</span></h1>
    <div class="row">
        <h2 class="pollTitle">{{ poll.question }}</h2>
        <div class="row">
            <div class="col-lg-12">
                <hr />
                <form action="" method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="choice_one">
                                <input type="radio" name="poll" id="choice_one" value="choice_one" style="opacity:1;">
                                <span class="cardDetails">{{ poll.choice_one }}</span>
                            </label>
                                <br>
                            <label for="choice_two">
                                <input type="radio" name="poll" id="choice_two" value="choice_two" style="opacity:1;">
                                <span class="cardDetails">{{ poll.choice_two }}</span>
                            </label>
                            <br>
                            <label for="choice_three">
                                <input type="radio" name="poll" id="choice_three" value="choice_three"
                                        style="opacity:1;">
                                        <span class="cardDetails">{{ poll.choice_three }}</span>
                            </label>
                        </div>
                            <hr />
                            <button type="submit" class="btn btn-info">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stars">
    <div class="stars1"></div>
    <div class="stars2"></div>
    <div class="stars3"></div>
    <div class="venus" data-value="3"></div>
  </div>
  
  <script type="text/javascript">
    document.addEventListener('mousemove', parallax);
    function parallax(e){
        document.querySelectorAll('.venus').forEach(function(move){
            var moving_value = move.getAttribute('data-value');
            var x = (e.clientX * moving_value) / 250;
            var y = (e.clientY * moving_value) / 250;
            move.style.transform = "translateX(" + x + "px) translateY(" + y + "px)";
        });
    }
  </script>
{% endblock %}