{% extends 'base.html' %}
{% block content %}

<h1 class="myEventsTitle">Event <span class="it">Details</span></h1>

<div class="row">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ event.name }}</span>
            <p class="cardDetails">Who: {{ event.who }} </p>
            <p class="cardDetails">What: {{ event.what }}</p>
            <p class="cardDetails">When: {{ event.when }} </p>
            <p class="cardDetails">Where: {{ event.where }} </p>
            <p class="cardDetails">Why: {{event.why}} </p>
        </div>
        <div class="card-action">
            <a class="itLight" href="{% url 'events_update' event.id %}">Edit</a>
            <a class="deleteBtn" href="{% url 'events_delete' event.id %}">Delete</a>
        </div>
    </div>

</div>
<br>
<h2 class="pollsTitle">Polls: </h2>
<a class="pollsCreate" href="{% url 'polls_create' %}">Create a new poll</a>
<div class="row">
    <div class="col s6">
        <p>Add Poll</p>
        <form action="{% url 'add_poll' event.id %}" method="POST">
            {% csrf_token %}
            <!-- Render the inputs -->
            {{ poll_form.as_p }}
            <input type="submit" class="btn" value="Add Poll">
        </form>

    </div>
    <div class="col s6">
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                {% for poll in event.poll_set.all %}

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ poll.question }}</span>
                        <p class="cardDetails">{{ poll.choice_one }}: <Span class="it"> {{ poll.choice_one_count }}
                                votes</Span></p>
                        <p class="cardDetails">{{ poll.choice_two }}: <Span class="it"> {{ poll.choice_two_count }}
                                votes</Span></p>
                        <p class="cardDetails">{{ poll.choice_three }}: <Span class="it"> {{ poll.choice_three_count }}
                                votes</Span></p>
                    </div>

                    <div class="card-action">
                        <a class="itLight" href="{%url 'vote' poll.id%}">Vote</a>
                        <a class="itLight" href="{%url 'results' poll.id%}">View Results</a>
                        <br>
                        <br>
                        <!-- <form action="{% url delete_poll' event.id poll.id}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Delete</button>
                        </form> -->
                        <!-- <a href="{% url 'events_update' event.id %}">Edit</a> -->

                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
<div class="stars">
    <div class="stars1"></div>
    <div class="stars2"></div>
    <div class="stars3"></div>
    <div class="jupiter parallax" data-value="6"></div>
    <div class="neptuneEventDetail parallax" data-value="-13"></div>
    <div class="earthDetail parallax" data-value="-4"></div>
</div>

<script type="text/javascript">
    document.addEventListener('mousemove', parallax);
    function parallax(e) {
        document.querySelectorAll('.parallax').forEach(function (move) {
            var moving_value = move.getAttribute('data-value');
            var x = (e.clientX * moving_value) / 250;
            var y = (e.clientY * moving_value) / 250;
            move.style.transform = "translateX(" + x + "px) translateY(" + y + "px)";
        });
    }
</script>

{% endblock %}