{% extends 'base.html' %}
{% block content %}

<h1>Event Details</h1>

<div class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ event.name }}</span>
                <p>Who: {{ event.who }} </p>
                <p>What: {{ event.what }}</p>
                <p>When: {{ event.when }} </p>
                <p>Where: {{ event.where }} </p>
                <p>Why: {{event.why}} </p>
            </div>
           <div class="card-action">
                <a href="{% url 'events_update' event.id %}">Edit</a>
                <a href="{% url 'events_delete' event.id %}">Delete</a>
            </div> 
        </div>

</div>
<br>
<h2 style="color:white;">Polls: </h2>
<a href="{% url 'polls_create' %}">Create a new poll</a>
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        {% for poll in event.poll_set.all %}
            <div class="card">
                <div class="card-content">
             <a href="{% url 'polls_detail' poll.id %}">Poll Details</a> 
                   <span class="card-title">{{ poll.question }}</span>
                    <p>Option 1:  {{ poll.choice_one }} </p>
                    <p>Option 2: {{ poll.choice_two }} </p>
                    <p>Option 3: {{ poll.choice_three }} </p> 
                </div>
                {% endfor %} 
                <div class="card-action">
                    <a href="{% url 'events_update' event.id %}">Edit</a>
                    <a href="{% url 'events_delete' event.id %}">Delete</a>
                </div>  \
            </div>
    </div>
</form>

{% endblock %}